server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Bootcamp67/ms-config-server
          default-label: master
          clone-on-start: true
          timeout: 5
        native:
          search-locations: classpath:/configs/
  profiles:
    active: native

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    com.bootcamp67: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"